@media only screen and (min-width: 1000px) {
    /* responsive navigation bar */
    .navigation {
        display: flex;
        flex-direction: row;
    }
    #menu {
        display: none;
    }
    header {
        position: relative;
    }
    .switch {
        position: absolute;
        display: inline-block;
        top: 1rem;
        right: 1rem;
        width: 72px;
        height: 46px;
    }
}