@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Noto+Sans:wght@400;700&display=swap');

:root {
  --primary-color: #274F32   ;
  --secondary-color: #0B261A ;
  --accent1-color: #E9F1EE;
  --accent2-color: #A69B83;

  --heading-font: 'Playfair Display', serif;
  --paragraph-font: "Noto Sans", sans-serif;

  --headline-color-on-white: #0B261A;  /* headlines on a white background */ 
  --headline-color-on-color: #E9F1EE; /* headlines on a colored background */ 
  --paragraph-color-on-white: #0B261A; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #0B261A; /* paragraph text on a colored background */ 
  --paragraph-background-color: #E9F1EE; 
  --nav-link-color: #A69B83; 
  --nav-background-color: #0B261A; 
  --nav-hover-link-color: black; 
  --nav-hover-background-color: #A69B83;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    max-width: 960px;
    margin: 0 auto;
    padding: 4em;
    font-size: 18px;
    text-align: center;
    font-family: 'Noto Sans', sans-serif;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 300px;
}
h1, h2, h3, h4 {
    font-family: var(--heading-font);
    color: var(--headline-color-on-white)
}
h2 {
    text-align: center;
    background-color: var(--primary-color);
    color: var(--headline-color-on-color);
    padding: 1rem;
}
h3 {
    padding: 10px;
    gap: 10px;
}
hr {
    height: 3px;
    margin: 35px 0;
    background: var(--accent1-color);
}
header{
    padding: 1em;
    text-align: center;
    background-color: var(--secondary-color);
}
header h1, header h2, header h3 {
    color: var(--headline-color-on-color);

}
#special {
    background-color: var(--paragraph-color-on-color);
}
p {
    font-family: var(--paragraph-font);
    color: var(--paragraph-color-on-white);
    padding: 1em;
}
.colors {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}
.colors th {
    background-color: #999;
}
.colors td {
    width: 25%;
    height: 3em;
}
.primary {
    color: white;
    background-color: var(--primary-color);
}
.secondary {
    color: white;
    background-color: var(--secondary-color);
}
.accent1 {
    background-color: var(--accent1-color);
}
.accent2{
    background-color: var(--accent2-color);
}
p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
}
.highlight {
    background-color: var(--accent2-color);
}
footer {
    padding: 1em;
    background-color: var(--secondary-color);
}
footer p {
    color: var(--accent1-color);
}