body {
    font-family: "Noto Serif", Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}
/* header */
header {
    background-color: #171a66;
    color: white;
    text-align: center;
    padding: 10px;
}

/* main */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}
.card {
    background-color: hsl(0, 7%, 95%);
    max-width: 320px;
    border: 1px solid #ccc;
    border-radius: 1rem;
}
.card h3 {
    margin: 0;
    background-color: #2c2c2e;
    color: white;
    padding: 10px;
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}
.card p {
    padding: 1px 10px;
}
main img {
    width: 320px;
}

/* footer */
footer {
    background-color: #171a66;
    color: white;
    text-align: center;
    padding: 10px;
}