body {
    font-family: "Noto Serif", Helvetica, sans-serif;
    max-width: 1200px;
    margin: 0 auto;
}
/* header */
header {
    background-color: #171a66;
    color: white;
    text-align: center;
    padding: 1px;
}

/* main */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    background-color: #f2f0f0;
}
h3 {
    text-align: center;
    background-color: #2c2c2e;
    color: white;
    padding: 5px;
}
main img {
    width: 320px;
}

/* footer */
footer {
    background-color: #171a66;
    color: white;
    text-align: center;
    padding: 1px;
}