main img {
    width: 200px;
}
body {
    font-family: Arial, Helvetica, sans-serif; /* pick another font */
    max-width: 1200px; /* change if necessary */
    margin: 0 auto;
}
/* header */
header {
    background-color: #171a66;
    color: white;
    text-align: center;
    padding: 1px;
}

/* main */
main {
    display: flex;
}
.card {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    
}
h3 {
    text-align: center;
    background-color: #2c2c2e;
    color: white;
    padding: 5px;
}

/* footer */
footer {
    background-color: #171a66;
    color: white;
    text-align: center;
    padding: 1px;
}