@media only screen and (min-width: 900px) {

    /* responsive navigation bar */
    .navigation {
        display: flex;
        flex-direction: row;
    }
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    #menu {
        display: none;
    }
    header {
        position: relative;
    }
    .switch {
        position: absolute;
        display: inline-block;
        top: 1rem;
        right: 1rem;
        width: 60px;
        height: 34px;
    }

    main img {
        width: 300px;
        height: auto;
    }

    .events-box {
        display: flex;
        grid-row: 2 / 3;
        background-color: #E9F1EE;
        align-items: center;
    }
}