@media only screen and (min-width: 900px) {

    /* responsive navigation bar */
    .navigation {
        display: flex;
        flex-direction: row;
    }
    .navigation a {
        display: block;
        flex: 1 1 100%;
    }
    #menu {
        display: none;
    }
    .switch {
        position: absolute;
        display: inline-block;
        top: 1rem;
        right: 1rem;
        width: 60px;
        height: 34px;
    }

    /*  calculate the right position for the 
    .switch element based on the screen width */
    .switch {
        right: calc((100% - 1400px) / 2 + 1rem);
    }
}
