@media only screen and (max-width: 800px) {
    
    .home-grid {
        display: flex;
        flex-direction: column;
    }

    #banner {
        bottom: 90px;
    }

    .discover-box, .event-box, .plein-feux {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .d-grid {
        display: grid;
        grid-template-columns: repeat(2, minmax(300px, 1fr));
    }
}