* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', Helvetica, sans-serif;
}

/* main */
main{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    gap: 10px;
}

main h2{
    padding-top: 25px;
    padding-bottom: 1px;
    color: black;
    font-size: 30px;
}
main hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid black;
    margin: 1em 0;
    padding: 0;
}
main li{
    list-style-type: none; /* remove bullets */
    padding: 10px;
    background-color: #EBECEB;
    border-radius: 10px;
    margin: 0 auto;
    width: 80%;
    text-align: left;
}

/* header */
header{
    background-color: #843524;
    width: 100%;
    display: flex;
    padding: 20px;
    justify-content: center; /*center-align horizontally*/
    align-items: center; /*center-align vertically*/
}

.photovei{
    max-width: 10%;
    height: auto;
    border-radius: 5%; /* corner radius */
}

header h1{
    color: white;
    padding: 15px;
    margin-left: 20px;
    font-size: 30px;
}

/* navigation bar */
nav {
    background-color: #EBECEB;
    width: 100%;
}
nav ul {
    list-style-type: none; /* remove bullets */
    /* display: flex; */
    display: flex;
    justify-content: center;
    flex-direction: column;
}
nav li {
    padding: 5px;
    text-align: center;
}
nav a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
}

/* sections */
.card h3 {
    background-color: #843524;
    padding: 15px;
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
}
.card{
    grid-column: 1/2;
    background-color: #EBECEB;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 20px;
}
.card2
{
    text-align: left;
    list-style-type: none;
}
section p{
    padding: 5px;
    margin-bottom: 5px;
}

/* footer */
footer{
    background-color: #843524;
    width: 100%;
    text-align: center;
    font-size: 17px;
    padding: 15px;
}
footer p{
    color: white;
    margin: 10px;
}