@media only screen and (min-width: 900px) {
    /* horizontal navigation bar */
    nav {
        display: flex; /* display links side-by-side */
        flex-direction: row; /* display links side-by-side */
        justify-content: space-around; /* space out links */
        list-style: none;
        margin-bottom: 5px;
    }
    /* adjust padding and margin */
    nav a {
        display: block;
        flex: 1 1 100%; /* make links span the width of the column */
    }
    /* fix width of header, nav and footer */
    header, nav, footer {
        max-width: 90%;
        margin: 0 auto;
    }
    /* hide hamburger button in larger screens */
    #menu {
		display: none;
	}

    /* record page */
    form label.top input {
        font-size: 1rem;
    }
    .record {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        margin: 2rem 0;
    }
}