@media screen and (max-width: 500px) {
/* reduce the padding and magins for smaller screens */
  header h1 {
    padding: 7px;
    margin-left: 10px;
  }
  main h2 {
    padding: 7px;
    margin-left: 10px;
  }
  .card h3 {
    padding: 7px;
    margin-bottom: 5px; 
  }
  .card {
    padding: 10px;
    margin-bottom: 10px;
  }
  section p {
    padding: 2px;
    margin-bottom: 2px;
  }
  footer {
    padding: 5px;
    margin-bottom: 5px;
  }
}
@media screen and (min-width: 900px) {
/* horizontal navigation bar for larger screens */
    nav #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
        margin-bottom: 5px;
    }
    nav a {
        padding: 5px;
        margin-bottom: 5px;
    }
    /* nav a:hover {
        background-color: #ddd;
        color: black;
    } */
}