@media screen and (min-width: 640px) {
    /* horizontal navigation bar */
    nav #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
        margin-bottom: 5px;
    }
    /* adjust padding and margin */
    nav a {
        padding: 5px;
        margin-bottom: 5px;
    }
    /* fix width of header, nav and footer */
    header, nav, footer {
        max-width: 90%;
        margin: 0 auto;
    }
    /* display main sections as two columns */
    main {
        display: flex;
        flex-direction: colomn;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    main h2, main hr {
        width: 100%;
    }
}