/* horizontal navigation bar for larger screens */
@media screen and (min-width: 700px) {
    nav #menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 5px;
        margin-bottom: 5px;
    }
    nav a {
        padding: 5px;
        margin-bottom: 5px;
    }
    /* nav a:hover {
        background-color: #ddd;
        color: black;
    } */
}